body{
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    
    background-image: url(../img/maldives.jpg);
    background-size: 100%;
    background-position: inherit;
    background-repeat: no-repeat;
    
  }
